<div class="popup__wrapper wrapper">
  <div class="popup">
    <h2 class="popup__title">Login</h2>
    <form class="popup__form">
      <label for="">login</label>
      <input
        type="text"
        [(ngModel)]="userName"
        [ngModelOptions]="{ standalone: true }"
      />
      <label for="">password</label>
      <input type="text" />
    </form>
    <div class="popup__buttons">
      <a href="" class="popup__link">Registration</a>
      <button class="popup__button button" (click)="onSubmit()">Login</button>
    </div>
  </div>
</div>
