@import "../../../shared/styles/base.scss";

p {
  @include font(10px, 10px, 400);
  margin-bottom: 3px;
}

.popup {
  width: 350px;
  background-color: $color-gray-1;
  border-radius: 5px;
  margin-top: 50px;
  padding: 25px 20px;
  &__wrapper {
    display: flex;
    justify-content: center;
  }
  &__title {
    @include font(18px, 21px, 700);
  }
  &__form {
    display: flex;
    gap: 4px;
    flex-direction: column;
    > label {
      color: $color-gray-2;
      @include font(10px, 15px, 400);
    }
    > input {
      background-color: $color-gray-3;
      border: none;
      outline: none;
      height: 35px;
      padding: 0 7px;
      &.ng-touched.ng-valid {
        border: 1px solid $color-green;
      }
      &.ng-touched.ng-invalid {
        border: 1px solid $color-red;
      }
    }
  }
  &__button {
    margin: 20px 0 0 auto;
    width: 160px;
  }
}
.errors {
  p:not(:first-child) {
    margin-left: 8px;
  }
}
