@import "../../../../shared/styles/base.scss";

:host {
  height: 24px;
  width: 100%;
  max-width: 380px;
}

.form {
  height: 100%;
  width: 100%;
  @include font(12px, 14px, 400);

  &__input {
    height: 100%;
    width: 100%;
    background-color: rgba(239, 239, 239, 1);
    padding: 5px 5px 3px 5px;
    border: none;
    outline: none;
  }
}
