$max-width: 1440px;

$color-primary: rgb(229, 229, 229);
$color-secondary: #2f80ed;
$color-gray-1: rgb(242, 242, 242);
$color-gray-2: #828282;
$color-gray-3: rgb(224, 224, 224);
$color-white: rgb(256, 256, 256);
