@import "../../../shared/styles/base.scss";

.details {
  display: flex;
  position: relative;
  height: 460px;
  width: 100%;
  max-width: 1200px;
  margin: 45px auto;

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @include font(28px, 28px, 200);
  }

  &__block {
    display: flex;
    width: 100%;
  }

  &__img {
    width: 62%;
    & > img {
      width: 100%;
      height: 100%;
      border-radius: 0 0 0 5px;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 35%;
    max-width: 436px;
    height: 460px;
    background-color: $color-primary;
    border-radius: 0 5px 5px 0;
    padding: 30px 30px 23px 30px;
    border-bottom: 5px solid;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    & > h2 {
      max-width: 80%;
    }
    & > span {
      @include font(10px, 10px, 400);
      color: $color-gray-2;
    }
  }

  &__description {
    flex-shrink: 1;
    overflow: hidden;
    margin-bottom: 15px;
    & > h3 {
      @include font(14px, 16px, 400);
      margin-bottom: 4px;
    }
    & > p {
      @include font(12px, 14px, 400);
      color: $color-gray-2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.stats {
  display: flex;
  margin-top: auto;
  justify-content: space-around;
}
