<div class="sort">
  <span class="sort__title">Sorting by:</span>
  <div class="sort__options">
    <span class="sort__option sort__option_underline" (click)="sortByDate()"
      >date</span
    >
    <span class="sort__option sort__option_underline" (click)="sortByViews()"
      >count of views</span
    >
    <div class="sort__word">
      <span class="sort__option">by word or sentance</span>
      <input
        type="text"
        class="sort__input"
        [(ngModel)]="sortingService.sortingOptions.word"
        (input)="sortingService.rewriteConfig()"
      />
    </div>
  </div>
</div>
