.sort {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 34px;
  padding-bottom: 18px;
  &__title {
    color: rgba(146, 146, 146, 1);
  }
  &__options {
    margin-left: 11px;
    display: flex;
    gap: 21px;
  }
  &__option {
    color: rgba(47, 128, 237, 1);
    &_underline {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__word {
    display: flex;
    gap: 10px;
  }
  &__input {
    border: none;
    outline: none;
    height: 13px;
    max-width: 150px;
  }
}
