@import "../../../shared/styles/base.scss";

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 250px;

  > p {
    width: 230px;
    @include font(24px, 28px, 700);
    color: $color-gray-2;
  }
}
