@import "../../../../shared/styles/base.scss";

:host {
  width: 18%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login {
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
  &__name {
    margin: 0;
  }

  &__ico {
    width: 24px;
    height: 24px;
    padding: 0;
  }
  &__button {
    padding: 5px 15px;
  }
}
